.content {
    padding: 8px;
    background-color: #fff;
    border-radius: 0.25rem;
}
a {
    color: inherit;
}
.title {
    font-weight: bold;
    text-transform: none;
}
img.product {
    height: 120px;
    max-width: initial;
    pointer-events: none;
}